@import 'Assets/assets';
@import 'components/components';
@import 'modules/modules';

/* -------- */

body{
    background-color: #2a2a2a;
}

header{
    font-size: 0;
    position:relative;
    
    .header-bg-image{
        @extend %fill-bg;
        display: inline-block;
        position: relative;
        width: 50%;
        height: 350px;
    }
    
    .header-logo{
        @include center(true,true);
        text-align: center;
        white-space: nowrap;
        
        img{
            display: inline-block;
            margin: auto auto 20px;
        }
        
        h1{
            font-size: 18px;
            color: white;
            font-weight: bold;
        }
        
    }
    
    
}