$base-color: #333;
$base-font: sans-serif;
$base-font-weight: 400;

$base-font-size:     14px;
$base-font-size-480: 15px;
$base-font-size-640: 16px;
$base-font-size-960: 16px;
$base-line-height: 1.5;

